alembic==1.6.2
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
click==8.0.1
colorama==0.4.4
Cython==0.29.14
Flask==2.0.0
Flask-Migrate==3.0.0
Flask-SQLAlchemy==2.5.1
gensim==3.8.3
greenlet==1.1.0
gunicorn==20.1.0
idna==2.10
importlib-metadata==4.0.1
itsdangerous==2.0.1
Jinja2==3.0.1
joblib==1.0.1
lightgbm==3.2.1
Mako==1.1.4
MarkupSafe==2.0.1
numpy==1.20.3
pandas==1.2.4
pip==21.0.1
psycopg2==2.8.6
python-dateutil==2.8.1
python-editor==1.0.4
pytz==2021.1
requests==2.25.1
scikit-learn==0.24.2
scipy==1.6.3
setuptools==52.0.0
six==1.16.0
sklearn==0.0
smart-open==5.0.0
soupsieve==2.2.1
SQLAlchemy==1.4.15
threadpoolctl==2.1.0
typing-extensions==3.10.0.0
urllib3==1.26.4
Werkzeug==2.0.1
wheel==0.36.2
wincertstore==0.2
zipp==3.4.1
